@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Grotesk';
  src:
    url('assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('ttf'),
    url('assets/fonts/static/SpaceGrotesk-Bold.ttf') format('ttf'),
    url('assets/fonts/static/SpaceGrotesk-Medium.ttf') format('ttf');
}

@layer utilities {
  .font-custom-features {
    font-feature-settings:
      'clig' off,
      'liga' off;
  }
}

html {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-black;
  @apply text-white;
}

h1 {
  @apply text-[2.5rem]; 
  @apply font-bold;
  @apply leading-10;
  @apply -tracking-[0.0625rem]; 
}

h2 {
  @apply text-[2rem];
  @apply font-bold;
  @apply leading-10;
  @apply -tracking-[0.0625rem];
}

p {
  @apply text-grey;
  @apply leading-[162.5%];
  @apply font-medium;
}

input,
textarea {
  @apply bg-blackBright;
  @apply border-b;
  @apply w-full;
}
 
/*custom*/
@media (min-width: 768px) {
  .md\:hxl {
    @apply text-customXL-h1; 
    @apply leading-[100%];
    @apply -tracking-customXL-h1
  }
}
